In [1]:
import numpy as np

In [2]:
a=[1,2,3]

In [3]:
print (a)

[1, 2, 3]

In [4]:
np.array(a)

array([1, 2, 3])

In [5]:
print (np.array(a))

[1 2 3]

In [6]:
aa = [[1,2,3],[4,5,6]]

In [7]:
print (aa)

[[1, 2, 3], [4, 5, 6]]

In [9]:
print (np.array(aa))

[[1 2 3]
 [4 5 6]]

In [10]:
np.arange(0,10,3)

array([0, 3, 6, 9])

In [16]:
c=np.arange(10,15,3)

In [17]:
print (c)

[10 13]

In [18]:
d=np.zeros(10)

In [19]:
print (d)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [26]:
e=np.zeros(10,dtype=int)

In [27]:
print (e)

[0 0 0 0 0 0 0 0 0 0]

In [31]:
f=np.zeros((3,2),dtype=int)

In [32]:
print (f)

[[0 0]
 [0 0]
 [0 0]]

In [35]:
g=np.linspace(0,5,5)

In [36]:
print(g)

[0.   1.25 2.5  3.75 5.  ]

In [39]:
h=np.eye(3,dtype=int)

In [40]:
print (h)

[[1 0 0]
 [0 1 0]
 [0 0 1]]

In [46]:
print(h[1,3])

IndexError: index 3 is out of bounds for axis 1 with size 3

In [65]:
i=np.random.rand(10,2)

In [66]:
print (i)

[[0.49282794 0.55844921]
 [0.12558777 0.99421259]
 [0.82577487 0.09940275]
 [0.80726379 0.97119133]
 [0.06401072 0.84550411]
 [0.0872545  0.81365938]
 [0.23637489 0.72734677]
 [0.35521148 0.73652904]
 [0.9078342  0.97406334]
 [0.38161163 0.77815728]]

In [61]:
print 3

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(3)? (<ipython-input-61-71dfe78e2d74>, line 1)

In [62]:
print (3)

3

In [67]:
j=np.arange(50)

In [68]:
print (j)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49]

In [69]:
j[0]=51

In [70]:
print (j)

[51  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49]

In [71]:
np.reshape(j,5,10)

ValueError: cannot reshape array of size 50 into shape (5,)

In [72]:
j.reshape(5,10)

array([[51,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [77]:
k=j.reshape(5,10)

In [78]:
print (k)

[[51  1  2  3  4  5  6  7  8  9]
 [10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]]

In [83]:
k[4,9]=0

In [84]:
print (k)

[[51  1  2  3  4  5  6  7  8  9]
 [10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48  0]]

In [88]:
print(j.argmin())

49

In [89]:
print(k.argmin())

49

In [92]:
print (k[49])

IndexError: index 49 is out of bounds for axis 0 with size 5

In [91]:
print (j[49])

0

In [94]:
print (j.shape)

(50,)

In [95]:
print (k.shape)

(5, 10)

In [96]:
print (k)

[[51  1  2  3  4  5  6  7  8  9]
 [10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48  0]]

In [97]:
print (a.T)

AttributeError: 'list' object has no attribute 'T'

In [98]:
k=k+k

In [99]:
print (k)

[[102   2   4   6   8  10  12  14  16  18]
 [ 20  22  24  26  28  30  32  34  36  38]
 [ 40  42  44  46  48  50  52  54  56  58]
 [ 60  62  64  66  68  70  72  74  76  78]
 [ 80  82  84  86  88  90  92  94  96   0]]

In [100]:
print (j)
print (k)

[51  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48  0]
[[102   2   4   6   8  10  12  14  16  18]
 [ 20  22  24  26  28  30  32  34  36  38]
 [ 40  42  44  46  48  50  52  54  56  58]
 [ 60  62  64  66  68  70  72  74  76  78]
 [ 80  82  84  86  88  90  92  94  96   0]]

In [102]:
print (j[3])

3

In [103]:
print (k[3])

[60 62 64 66 68 70 72 74 76 78]

In [104]:
print (j[3:4])

[3]

In [105]:
print (k[3:4])

[[60 62 64 66 68 70 72 74 76 78]]

In [109]:
print (j[3:4])

[3]

In [110]:
print (j[3])

3

In [116]:
print (j[3:5])

[3 4]

In [119]:
print (k[3:5])

[[60 62 64 66 68 70 72 74 76 78]
 [80 82 84 86 88 90 92 94 96  0]]

In [120]:
pint (k)

NameError: name 'pint' is not defined

In [121]:
print (k)

[[102   2   4   6   8  10  12  14  16  18]
 [ 20  22  24  26  28  30  32  34  36  38]
 [ 40  42  44  46  48  50  52  54  56  58]
 [ 60  62  64  66  68  70  72  74  76  78]
 [ 80  82  84  86  88  90  92  94  96   0]]

In [122]:
l=k.T

In [123]:
print (l)

[[102  20  40  60  80]
 [  2  22  42  62  82]
 [  4  24  44  64  84]
 [  6  26  46  66  86]
 [  8  28  48  68  88]
 [ 10  30  50  70  90]
 [ 12  32  52  72  92]
 [ 14  34  54  74  94]
 [ 16  36  56  76  96]
 [ 18  38  58  78   0]]

In [124]:
m=l[0:5]

In [125]:
print (m)

[[102  20  40  60  80]
 [  2  22  42  62  82]
 [  4  24  44  64  84]
 [  6  26  46  66  86]
 [  8  28  48  68  88]]

In [126]:
print (i)

[[0.49282794 0.55844921]
 [0.12558777 0.99421259]
 [0.82577487 0.09940275]
 [0.80726379 0.97119133]
 [0.06401072 0.84550411]
 [0.0872545  0.81365938]
 [0.23637489 0.72734677]
 [0.35521148 0.73652904]
 [0.9078342  0.97406334]
 [0.38161163 0.77815728]]

In [127]:
print (j)

[51  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48  0]

In [128]:
print (j[3])

3

In [129]:
print (j[3:6])

[3 4 5]

In [131]:
print (j[[3,6]])

[3 6]

In [133]:
j[3:10] = -99

In [134]:
print (j)

[ 51   1   2 -99 -99 -99 -99 -99 -99 -99  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48   0]

In [135]:
l

array([[102,  20,  40,  60,  80],
       [  2,  22,  42,  62,  82],
       [  4,  24,  44,  64,  84],
       [  6,  26,  46,  66,  86],
       [  8,  28,  48,  68,  88],
       [ 10,  30,  50,  70,  90],
       [ 12,  32,  52,  72,  92],
       [ 14,  34,  54,  74,  94],
       [ 16,  36,  56,  76,  96],
       [ 18,  38,  58,  78,   0]])

In [136]:
m

array([[102,  20,  40,  60,  80],
       [  2,  22,  42,  62,  82],
       [  4,  24,  44,  64,  84],
       [  6,  26,  46,  66,  86],
       [  8,  28,  48,  68,  88]])

In [137]:
m[0]=103

In [138]:
m

array([[103, 103, 103, 103, 103],
       [  2,  22,  42,  62,  82],
       [  4,  24,  44,  64,  84],
       [  6,  26,  46,  66,  86],
       [  8,  28,  48,  68,  88]])

In [139]:
l

array([[103, 103, 103, 103, 103],
       [  2,  22,  42,  62,  82],
       [  4,  24,  44,  64,  84],
       [  6,  26,  46,  66,  86],
       [  8,  28,  48,  68,  88],
       [ 10,  30,  50,  70,  90],
       [ 12,  32,  52,  72,  92],
       [ 14,  34,  54,  74,  94],
       [ 16,  36,  56,  76,  96],
       [ 18,  38,  58,  78,   0]])

In [145]:
print (l[:,(0,1)])

[[103 103]
 [  2  22]
 [  4  24]
 [  6  26]
 [  8  28]
 [ 10  30]
 [ 12  32]
 [ 14  34]
 [ 16  36]
 [ 18  38]]

In [141]:
print (l.shape)

(10, 5)

In [146]:
l

array([[103, 103, 103, 103, 103],
       [  2,  22,  42,  62,  82],
       [  4,  24,  44,  64,  84],
       [  6,  26,  46,  66,  86],
       [  8,  28,  48,  68,  88],
       [ 10,  30,  50,  70,  90],
       [ 12,  32,  52,  72,  92],
       [ 14,  34,  54,  74,  94],
       [ 16,  36,  56,  76,  96],
       [ 18,  38,  58,  78,   0]])

In [147]:
m

array([[103, 103, 103, 103, 103],
       [  2,  22,  42,  62,  82],
       [  4,  24,  44,  64,  84],
       [  6,  26,  46,  66,  86],
       [  8,  28,  48,  68,  88]])

In [150]:
n=['cat','mat','hat','bat','cat','sat','fat']

In [151]:
n

['cat', 'mat', 'hat', 'bat', 'cat', 'sat', 'fat']

In [152]:
o=np.array(n)

In [153]:
n.argmax

AttributeError: 'list' object has no attribute 'argmax'

In [155]:
o.argmax()

5

In [157]:
n.sort()

In [158]:
n

['bat', 'cat', 'cat', 'fat', 'hat', 'mat', 'sat']

In [159]:
n.reverse()

In [160]:
n

['sat', 'mat', 'hat', 'fat', 'cat', 'cat', 'bat']

In [161]:
o

array(['cat', 'mat', 'hat', 'bat', 'cat', 'sat', 'fat'], dtype='<U3')

In [163]:
o.sort()

In [164]:
o

array(['bat', 'cat', 'cat', 'fat', 'hat', 'mat', 'sat'], dtype='<U3')

In [165]:
o[0]

'bat'

In [166]:
n[0]

'sat'

In [167]:
l

array([[103, 103, 103, 103, 103],
       [  2,  22,  42,  62,  82],
       [  4,  24,  44,  64,  84],
       [  6,  26,  46,  66,  86],
       [  8,  28,  48,  68,  88],
       [ 10,  30,  50,  70,  90],
       [ 12,  32,  52,  72,  92],
       [ 14,  34,  54,  74,  94],
       [ 16,  36,  56,  76,  96],
       [ 18,  38,  58,  78,   0]])

In [168]:
m

array([[103, 103, 103, 103, 103],
       [  2,  22,  42,  62,  82],
       [  4,  24,  44,  64,  84],
       [  6,  26,  46,  66,  86],
       [  8,  28,  48,  68,  88]])

In [169]:
l.size

50

In [170]:
m.size

25

In [171]:
l.square

AttributeError: 'numpy.ndarray' object has no attribute 'square'

In [172]:
np.square(l)

array([[10609, 10609, 10609, 10609, 10609],
       [    4,   484,  1764,  3844,  6724],
       [   16,   576,  1936,  4096,  7056],
       [   36,   676,  2116,  4356,  7396],
       [   64,   784,  2304,  4624,  7744],
       [  100,   900,  2500,  4900,  8100],
       [  144,  1024,  2704,  5184,  8464],
       [  196,  1156,  2916,  5476,  8836],
       [  256,  1296,  3136,  5776,  9216],
       [  324,  1444,  3364,  6084,     0]], dtype=int32)

In [173]:
np.sqrt(l)

array([[10.14889157, 10.14889157, 10.14889157, 10.14889157, 10.14889157],
       [ 1.41421356,  4.69041576,  6.4807407 ,  7.87400787,  9.05538514],
       [ 2.        ,  4.89897949,  6.63324958,  8.        ,  9.16515139],
       [ 2.44948974,  5.09901951,  6.78232998,  8.1240384 ,  9.2736185 ],
       [ 2.82842712,  5.29150262,  6.92820323,  8.24621125,  9.38083152],
       [ 3.16227766,  5.47722558,  7.07106781,  8.36660027,  9.48683298],
       [ 3.46410162,  5.65685425,  7.21110255,  8.48528137,  9.59166305],
       [ 3.74165739,  5.83095189,  7.34846923,  8.60232527,  9.69535971],
       [ 4.        ,  6.        ,  7.48331477,  8.71779789,  9.79795897],
       [ 4.24264069,  6.164414  ,  7.61577311,  8.83176087,  0.        ]])

In [174]:
np.save('my_first_python_save',l)

In [175]:
np.savez('my_second_python_savez',l,m)

In [176]:
import pandas as pd

In [177]:
l1 = [10,20,30,40]

In [181]:
dict1 = {"a":10,"b":20,"c":30,"d":40}

In [180]:
pd.Series (data=l1)

0    10
1    20
2    30
3    40
dtype: int64

In [187]:
pd.Series (data=l1,index=dict1)

a    10
b    20
c    30
d    40
dtype: int64

In [191]:
dict2 = {"a","b","c","d"}

In [192]:
pd.Series (data=l1,index=dict2)

c    10
b    20
d    30
a    40
dtype: int64

In [189]:
l1

[10, 20, 30, 40]

In [190]:
dict2

{'a', 'b', 'd'}

In [193]:
l1

[10, 20, 30, 40]

In [194]:
p1=pd.Series(data=l1, index=dict1)

In [195]:
p2=pd.Series(data=l1, index=dict2)

In [197]:
p1

a    10
b    20
c    30
d    40
dtype: int64

p2

In [198]:
p2

c    10
b    20
d    30
a    40
dtype: int64

In [199]:
pd.Series(l1,dict1)

a    10
b    20
c    30
d    40
dtype: int64

In [200]:
pd.Series(l1,dict2)

c    10
b    20
d    30
a    40
dtype: int64

In [201]:
l1

[10, 20, 30, 40]

In [202]:
dict1

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [203]:
dict2

{'a', 'b', 'c', 'd'}

In [204]:
s1=pd.Series(l1,dict1)
s2=pd.Series(l1,dict2)

In [205]:
print (s1,s2)

a    10
b    20
c    30
d    40
dtype: int64 c    10
b    20
d    30
a    40
dtype: int64

In [206]:
dict3={'e','f','g','h'}

In [207]:
s3=pd.Series(l1,dict3)

In [208]:
s2,s3

(c    10
 b    20
 d    30
 a    40
 dtype: int64, e    10
 h    20
 g    30
 f    40
 dtype: int64)

In [209]:
dict2

{'a', 'b', 'c', 'd'}

In [210]:
dict1

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [211]:
s4

NameError: name 's4' is not defined

In [213]:
s4=pd.Series(dict1)

In [214]:
s4

a    10
b    20
c    30
d    40
dtype: int64

In [215]:
l1

[10, 20, 30, 40]

In [216]:
l2

NameError: name 'l2' is not defined

In [217]:
l2=[40,30,20,10]

In [218]:
pd.Series(dict1)

a    10
b    20
c    30
d    40
dtype: int64

In [220]:
pd.Series(l2,dict1)

a    40
b    30
c    20
d    10
dtype: int64

In [221]:
dict1

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [223]:
l1,l2,dict1,dict2,dict3,s1,s2

([10, 20, 30, 40],
 [40, 30, 20, 10],
 {'a': 10, 'b': 20, 'c': 30, 'd': 40},
 {'a', 'b', 'c', 'd'},
 {'e', 'f', 'g', 'h'},
 a    10
 b    20
 c    30
 d    40
 dtype: int64,
 c    10
 b    20
 d    30
 a    40
 dtype: int64)

In [224]:
label1=['a','b','c','d']

In [230]:
pd.Series(l1,dict2)

c    10
b    20
d    30
a    40
dtype: int64

In [229]:
dict1

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [231]:
label1,dict2

(['a', 'b', 'c', 'd'], {'a', 'b', 'c', 'd'})

In [232]:
pd.Series(l1,label1),pd.Series(l1,dict2)

(a    10
 b    20
 c    30
 d    40
 dtype: int64, c    10
 b    20
 d    30
 a    40
 dtype: int64)

In [233]:
s3

e    10
h    20
g    30
f    40
dtype: int64

In [234]:
s4=pd.Series([1,2,3,4],['ball','bat','wicket','stump'])
s5=pd.Series([1,2,3,4],['bat','wicket','gully','midon'])

In [235]:
s4,s5

(ball      1
 bat       2
 wicket    3
 stump     4
 dtype: int64, bat       1
 wicket    2
 gully     3
 midon     4
 dtype: int64)

In [236]:
s4+s5

ball      NaN
bat       3.0
gully     NaN
midon     NaN
stump     NaN
wicket    5.0
dtype: float64

In [237]:
s6=s4+s5

In [238]:
s6

ball      NaN
bat       3.0
gully     NaN
midon     NaN
stump     NaN
wicket    5.0
dtype: float64